<header class="page-header px-5 py-2">
    <div class="page-header__top">
        <div class='page-header__logo' onclick="window.location.href = '/'">Job Offer</div>
        <div class="page-header__toggle" onclick="toggleMenu()">☰</div>
    </div>
    <nav class="page-header__bottom">
        <ul id="navigation" class="navigation">
            <li class="navigation__item"><a href="/" class="text-light">View All</a></li>
            <li class="navigation__item"><a href="/add-job" class="text-light">Add Job</a></li>
        </ul>
    </nav>
</header>